.button-v2 {
  font-family: "Moderat",sans-serif;
  text-align: center;
  font-size: 1.2857142857rem;
  padding: 15px 30px;
  background-color: #4842B7;
  color: #fff;
  -webkit-transition: 0.18s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.18s cubic-bezier(0.55, 0, 0.1, 1);
  text-decoration: none;
  white-space: nowrap;
  line-height: normal;
  border: none;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: .1s ease;
  transition: .1s ease;
  outline: none;

  @include media-breakpoint-md {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  &.white {
    background-color: #fff;
    color: #4842B7;

    &:hover {
      background-color: #f2f2f2;
    }
  }

  &.outlined-white {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
  }

  &.outlined {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #4842B7;
    color: #4842B7;

    &:hover {
      background-color: #4842B7;
      color: #fff;
    }
  }
}

.new-button {
  font-family: "Moderat",sans-serif;
  font-weight: bold;
  text-align: center;
  transition: 0.18s cubic-bezier(0.55, 0, 0.1, 1);
  text-decoration: none;
  white-space: nowrap;
  line-height: normal;
  border: none;
  cursor: pointer;
  text-transform: uppercase;

  @include media-breakpoint-sm {
    margin: 0 10px 10px;
    display: block;
  }

  &.white {
    background-color: #fff;
    color: #4842B7;

    &:hover {
      background-color: #f2f2f2;
    }
  }

  &.rounded {
    border-radius: 100px;
  }

  &.large {
    font-size: 1.1em;
    letter-spacing: 1px;
    padding: 15px 20px;
    margin: 0 10px;
  }

  &.outlined {
    box-shadow: inset 0 0 0 2px #fff;
    background-color: transparent;
    color: #fff;

    &:hover {
      box-shadow: inset 0 0 0 2px #fff;
      background-color: #fff;
      color: #4842B7
    }
  }

  &.outlined-white {
    margin-top: 20px;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
  }
}

.button-container {
  margin: 0 0 80px;

  @include media-breakpoint-md {
    margin: 0 0 60px;
  }
}
